<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Items</title>
</head>
<body>
<ul>
    <th:block th:each="item: ${items}">
        <li>
            <span th:text="${item.name}"></span>
            (<span th:text="${item.price}"></span>) ::
            <a th:href="@{'/cart/add/' + ${item.id}}">Add To Cart</a>
        </li>
    </th:block>
    <li><a href="/cart/view">View Cart</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/account/login">Login</a></li>
    <li><a href="/cart/clear">Clear Cart</a></li>
</ul>
</body>
</html>


